{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "object-curly-spacing": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120 }],
    "react/jsx-boolean-value": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/forbid-prop-types": "off",
    "object-curly-newline": "off",
    "no-return-await": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-await-in-loop": "off",
    "react/no-array-index-key": "off"
  }
}
