/* NORMAL */
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Black.ttf);
    font-style: normal;
    font-weight: 900;
}

/* ITALIC */
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-ExtraLightItalic.ttf);
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-LightItalic.ttf);
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-MediumItalic.ttf);
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-BoldItalic.ttf);
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-ExtraBoldItalic.ttf);
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: Mulish;
    src: url(../font/Mulish-BlackItalic.ttf);
    font-style: italic;
    font-weight: 900;
}


body {
    margin: 0 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Mulish', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}